*{
    margin: 0;
    padding: 0;
}

.navBar{
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 10px;
    background-color: rgb(63, 63, 63);
    display: flex;
    /* 컬럼과 로우
     : 세로 배치 : 컬럼
     : 가로 배치 : 로우
     flex-di~ 는 배치 선택 */
     /* justify-content : 일정 간격 띄우기
     al */
     justify-content: space-between;
     color: white;
     padding: 8px 24px;
     align-items: center;
}

.navBar__buttons{
    display: flex;
    gap: 16px;
}

.navBar__button > a {
    color: white;
    text-decoration: none;

}
.navBar__logo{
height: 36px;

}